*{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #fcf3f3;   
}
.header{
    padding-left: 10%;
}
ul li{
list-style-type:none;
   display: inline-block;
}
.dropbox ul{
    display: none;
    position: absolute;
    margin-top: 1.5%;
    padding-left: 0;
    padding-right: 5%;
    margin-left: 0;
    width: 900px;
}
.dropbox ul li a{
    color: black;
    font-size: large;
}
.dropbox ul li a:hover{
    color: red;
    background-color: transparent;
}
ul li:hover .dropbox ul{
    background-color: whitesmoke;
    display: block;
}
nav {
    background: #959a9f;
    padding-left: 5%;
}
hr {
    width: 50%;
    color: rgb(162, 145, 145);
    margin-top: 3%;
    margin-bottom: 3%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    display: inline-block;
    font-size: 120%;
}

nav a:hover {
    background: #004f8b;
}
#School_1,#School_2,#School_3,#School_4,#School_5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e3eaf0;
}
p{
    width: 900px;
    font-size: 150%;
}
h1{
    font-size: 250%;
    padding-top: 0;
    padding-left: 2%;
}
em{
    color: black;
    font-size: 150%;
}
footer {
    background: #011729;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
}
.footer em{
    color: yellow;
    font-size: larger;
}
.footer p{
    font-size:medium;
}